.card {
  background: #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 5rem min-content 1fr;
  align-items: center;
  padding: 0 1.5rem;
  color: darken($color-grey-light-1, 8%);
  box-shadow: none;
  border: $border-light-1;
  border-top: $border-light-2;

  &::after {
    content: "";
    display: block;
    grid-column: 1/-1;
    grid-row: 2/2;
    border-bottom: 1px solid rgba($color-grey-light-1, .3);
    margin: 0 -1.5rem;
  }

  &__title {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-grey-dark-1;
  }

  &__top-actions {
    display: flex;
    align-items: center;
    grid-column: 2 / 2;
    grid-row: 1 / 1;

  }

  &__content {
    grid-column: 1 / -1;
    grid-row: 3;
    transition: all .3s;

    &[state="collapsed"] {
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
  }

}