.header {
  height: 6rem;
  width: 100vw;
  padding: 0 3rem 0 1.5rem;
  border-bottom: $border-light-1;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #fff;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  display: grid;
  grid-template-columns: min-content 1fr max-content repeat(4, max-content);
  align-items: center;
  grid-column-gap: 3rem;

  &__search-input {
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;

  }

  &__list {
    font-size: 1.3rem;
    font-weight: 400;
    color: $color-grey-dark-1;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: 1fr;

    &__item {
      padding: 1.5rem;
      border-bottom: $border-light-1;
      transition: background-color .3s;
      outline: none;
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        background-color: $bg-color;
      }

    }

  }

  &__list-link {
    &:link,
    &:visited {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      justify-self: center;
      text-decoration: none;
      color: $color-grey-dark-1;
      font-weight: 500;
    }

    &:hover,
    &:focus {
      opacity: .8;
    }

    &:active {
      opacity: .6;
    }

    & > .header__alert-icon {
      transform: rotate(90deg);
      margin-left: -3px;
    }

  }

  &__alert {

    &:link,
    &:visited {
      display: grid;
      grid-template-columns: min-content max-content minmax(max-content, 1fr);
      grid-column-gap: 2rem;
      grid-row-gap: 3rem;
      align-items: center;
      cursor: pointer;

    }

    &:active {
      opacity: .8;
    }
  }

  &__alert-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
    margin-right: -1rem;
  }

  &__alert-time {
    justify-self: end;
    font-size: 1rem;
    color: $color-grey-light-1;
  }

  &__msg {
    display: grid;
    grid-template-columns: min-content minmax(max-content, 1fr) max-content;
    grid-template-rows: max-content max-content;
    grid-column-gap: 1.5rem;
    align-items: center;

  }

  &__msg-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;

    grid-row: 1 / -1;
  }

  &__msg-content {
    max-width: 20rem;
  }

  &__msg-name {
    font-weight: bold;
  }

  &__msg-timestamp {
    font-size: 1rem;
    color: $color-grey-light-1;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  &__msg-time {
    font-size: 1rem;
    color: $color-grey-light-1;
    align-self: start;
    justify-self: end;

  }

  &__msg-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    margin-right: .5rem;
  }

  &__dropdown-content {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(3rem, calc(100% + 2.3rem));
  }

}


