.text-primary {
  color: $color-primary !important;
}

.text-blue {
  color: $color-blue-dark !important;
}

.text-primary-light {
  color: $color-primary-light !important;
}

.text-danger {
  color: $color-danger !important;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}