$font-family: Roboto, sans-serif;
$color-primary: #1ab394;
$color-primary-light: lighten(#1ab394, 5%);
$color-secondary: #2f4050;
$color-grey-dark-1: #545454;
$color-grey-light-1: #888888;
$color-warning: #f8ac59;
$color-danger: #ff5359;
$color-blue-dark: #1c84c6;
$bg-color: #f8f8f8;